@font-face {
  font-family: Jura;
  src: url('/fonts/Jura-Regular.ttf') format('truetype');
}

* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Jura, Arial;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body p {
  margin: 0 0 20px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
