@font-face {
  font-family: ZenDots;
  src: url('./fonts/ZenDots-Regular.ttf') format('truetype');
}

.logo {
  font-family: ZenDots, "Arial Black";
  font-size: 30px;
  background: linear-gradient(-45deg, #bd34fe 30%, #41d1ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
